html{
	font-family: 'Varela Round', sans-serif, futura;
}

h1{
	color: #ffffff;
	font-size: 3vw;

}

.intro h2{
	color: #1A212C;
	font-style: italic;
	font-size: 1.4vw;
	text-align: center;
}


/*p{
	font-size: .47em;
	width: 70%;
	margin: 3% auto;
	text-align: center;
}*/