html
{
	font-family: 'Varela Round', sans-serif, futura;
}

h1
{
	color: white
}

.intro h2{

	padding-top: 2%;
	margin:0 auto;
	color: #1A212C;
	font-style: italic;
	font-width: 100%;
}


p
{
	font-size: .47em;
	width: 70%;
	margin: 3% auto;
	text-align: center;
}