html
{
	background: #F2AB25; 
}

.intro
{
	background: #F2AB25;
	text-align: center;
	margin-top: -2%;
	height: 2.8em;
	color: #1A212C;
	
}



.about, .works, .resume
{
	height: 180%;
	text-align: center;
	padding-top: 3%;
}

footer
{
	text-align: center;
}
.about
{
	background: #D13F32;
}

.resume
{
	background: #1A212C;
}

.works
{
	background: #71B095;
}


section 
{
	display: none;
	visibility: hidden;
}

/*hide check box*/
input[type=checkbox]
{
	visibility: hidden;
}

/*show more/less button*/
[for="read_more_activate"] span:last-child
{
	display: none;
	visibility: hidden;
	width: 100%;

}

/*show more/less button style*/
[for="read_more_activate"],[for="read_more_activate_works"], [for="read_more_activate_resume"]
{
	width: 30%;
	box-shadow: 0 0 .02em .02em white;
	text-align: center;
	padding: .1em;
	border-radius: .2em;
	position: absolute;
	left: 35%;
	font-size: .45em;
	transition: background 2s, color 4s;
	cursor: pointer;


}

/*show more button*/
input[type=checkbox]:checked ~ [for="read_more_activate"] span:first-child
{
	display: none;
	visibility: hidden;
}
/*show less button*/
input[type=checkbox]:checked ~ [for="read_more_activate"] span:last-child
{
	display: block;
	visibility: visible;
}


